@font-face {
	font-family: "EuclidCircularB";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local("EuclidCircularB"),
		local("EuclidCircularB-Light"),
		url('../fonts/EuclidCircularB-Light.woff2') format("woff2"),
		url('../fonts/EuclidCircularB-Light.woff') format("woff")
}
@font-face {
	font-family: "EuclidCircularB";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local("EuclidCircularB"),
		local("EuclidCircularB-SemiBold"),
		url('../fonts/EuclidCircularB-SemiBold.woff2') format("woff2"),
		url('../fonts/EuclidCircularB-SemiBold.woff') format("woff")
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'EuclidCircularB';
    min-height: 100vh;
}
button {
    border:none;
    background: transparent;
    cursor: pointer;
}
.App {
    min-height: 100vh;
}
.left__bar {
    background: #f9fbff;
    padding: 60px !important;
}
.top__bar {
    background: #0c78ee;/* #e15048;/* #699A6E;*/
    padding: 8px 0;
    box-shadow: 0px 0px 6px rgba(0,0,0,.2);
}
.timer__wrap {
    margin-bottom:32px;
}
.timer__counter {
    font-size:56px;    
}
.timer__counter button {
    margin-top:-12px
}
skip__button {
    margin-bottom: 8px;
}
.skip__button span {
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.interval__reminder {
    color:#808080;    
}
.interval__reminder span {
    width: 12px;
    height: 12px;    
    background: #808080;
    display: inline-block;
    border-radius: 50%;
}
.interval__reminder span.work {
    background: rgb(255, 85, 84);
}
.interval__reminder span.chill {
    background: rgb(94, 189, 70);
}
.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-top: 0;
}
.top__calendar {
    padding-left:55px;
    color:#fff;
}
.leftnav__item {
    list-style: none;
    cursor: pointer;
    padding:6px;
    transition: .2s ease all;
    border-radius: 6px;
    margin-bottom: 4px;
}
.leftnav__item:hover, .leftnav__item.current {
    background: #f1f3ff;
}
.main__content {
    padding:80px;
}
.nav__header {
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid #ededed;
    padding-bottom: 2px;
}
.nav__body {
    transition: .2s ease all;
    transform-origin: top;
}
.nav__body {
    transform: scaleY(0);
} 
.nav__body.opened {
    transform: scaleY(1);
    margin-top: 12px;
}
.control__icon {
    transition: .3s ease all;
    transform: rotate(0deg);
}
.control__icon.rotated {
    transform: rotate(90deg) !important;
}
.popup__bg {
    position: absolute;
    background: rgba(0,0,0,.2);
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}
.popup__wrapper {
    background-color: #fff;
    min-width: 300px;
    border-radius: 12px;
    padding: 18px;
    position: relative;
}
.popup__header h2 {
    margin-bottom: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
}
.closeModal {
    position: absolute;
    right: 10px;
    top: 1px;
    cursor: pointer;
}
.addTab__form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.addTab__form span {
    margin-bottom: 3px;
}
.addTab__form input {
    border: 1px solid #808080;
    border-radius: 6px;
    padding: 6px;
}
.addTab__form .buttons__row {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}
.addTab__form .buttons__row button.outline {
    margin-right: 6px;
}
button {
    font-size: 15px;
    font-family: 'EuclidCircularB';
    border-radius: 6px;
}
button.primary {
    background-color: #0c78ee;
    color: #fff;
    padding: 6px 12px;
}
button.outline {
    border: 1px solid #0c78ee;
    padding: 6px 12px;
}
.add__task {
    background: transparent;
    margin-top: 12px;
    color:#808080;
    border-radius: 6px;
}